* {
    margin: 0px;
    padding: 0px;
}

html,body {
    background: linear-gradient(to bottom left, #99ffcc 0%, #993399 77%);
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

header {
    height: 70px;
    background: rgba(0, 0, 0, 0.2);
}

h1 {
    font-family: 'Sofia', cursive;
    font-size: 26px;
    position: absolute;
    padding: 3px;
    float: left;
    margin-top: 10px;
    color: white;
    left: 105px;
}

#logout {
    width: auto;
    margin-top: 12px;
    font-family: sans-serif;
    padding: 15px 30px;
    float:right;
    color: white;
    text-decoration: none;
    font-size: 13px;
}

#imagesMenu {
    position: relative;
    left:27px;
}

ul > li{
    float: left;
    list-style-type: none;
}

img {
    width: 100px;
    height: 80px;
    margin-left: 1px;
    margin-right: 5px;
}

#image-container {
    border: 1px solid #000;
    margin-top: 30px;
    width: 80%;
    height: 16em;
    margin-left: 20px;
    margin-bottom: 20px;
}

/*div > img {
    width: 130%;
    height: 100%;
}  /*Hacer diferentes cointainers preestablecidos*/
